@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
	font-family: 'Poppins', courier, monospace, serif;
	background: black;
}

::-webkit-scrollbar {
    display: none;
}

.center-screen {
	top: 50%;
	left: 50%;
	width: 30em;
	height: 18em;
	margin-top: -9em;
	margin-left: -15em;
	position: fixed;
	background: rgba(255, 255, 255, 0.10);
	background: -webkit-linear-gradient(top left, rgba(255,255,255,0.2), rgba(18,18,18,0.1));
	background: -moz-linear-gradient(top left, rgba(255,255,255,0.2), rgba(18,18,18,0.1));
	background: linear-gradient(to bottom right, rgba(255,255,255,0.2), rgba(18,18,18,0));
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(05px);
	-webkit-backdrop-filter: blur(05px);
	border: 0.1px solid rgba(255, 255, 255, 0.18);
}

.center {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#matrix-bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}

.my_text {
	position: relative;
	color: white;
	text-shadow: 0px 0px 20px cyan, 0px 0px 50px white;
}

#title {
	z-index: 1;
	visibility: hidden;
}

#skills {
	z-index: 2;
	visibility: hidden;
}

#languages {
	z-index: 3;
	visibility: hidden;
}

#soft-skills {
	z-index: 4;
	visibility: hidden;
}

#formation {
	z-index: 5;
	visibility: hidden;
}

#logo42 {
	width: 30%;
	padding-left: 10em;
	filter: invert(100%);
}

#choice {
	z-index: 10;
	visibility: hidden;
}

#redpill {
	transform: scale(0.75, 0.75) translateX(3em) translateY(3em);
	cursor: pointer;
}

#redpill:hover {
	filter: brightness(75%);
}

#bluepill {
	transform: scale(0.75, 0.75) translateX(9.35em) translateY(3em);
	cursor: pointer;
}

#bluepill:hover {
	filter: brightness(75%);
}

#arrow-left {
	position: fixed;
	z-index: 1;
	transform: scale(0.5, 0.5);
	top: 50%;
	left: 50%;
	margin-top: 8em;
	margin-left: -15em;
	cursor: pointer;
	visibility: hidden;
}

#arrow-left:hover {
	filter: brightness(75%);
}

#arrow-right {
	position: fixed;
	z-index: 1;
	transform: scale(0.5, 0.5);
	top: 50%;
	left: 50%;
	margin-top: 8em;
	margin-left: 3.5em;
	cursor: pointer;
	visibility: hidden;
}

#arrow-right:hover {
	filter: brightness(75%);
}

#contact {
	z-index: 11;
	visibility: hidden;
}

#white-rabbit {
	visibility: hidden;
	position: fixed;
	z-index: 20;
	left: 100em;
	width: 2em;
	filter: contrast(0%) brightness(0%) invert(100%);
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

p {
	text-align: center;
}

ul {
	width: 27.5em;
}

b {
	font-size: 1.2em;
}

a:link {
	color: white;
}

a:visited {
	color: #8befec;
}

a:hover {
	color: #8ddd80;
}

button {
	appearance: none;
	border-width: 0px;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  margin-left: 3.5em;
  backdrop-filter: blur(05px);
  -webkit-backdrop-filter: blur(05px);
  border: 0.1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
}

.btn:hover {
  text-decoration: none;
}

.no_js_btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  backdrop-filter: blur(05px);
  -webkit-backdrop-filter: blur(05px);
  border: 0.1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
}

.no_js_btn:hover {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
	.center-screen {
		width: 20em;
		height: 18em;
		margin-top: -14em;
		margin-left: -10em;
	}

	#redpill {
		transform: scale(0.75, 0.75) translateX(2em) translateY(3em);
	}

	#bluepill {
		transform: scale(0.75, 0.75) translateX(5.35em) translateY(3em);
	}

	#arrow-left {
		transform: scale(0.4, 0.4);
		margin-top: 5em;
		margin-left: -12em;
	}

	#arrow-right {
		transform: scale(0.4, 0.4);
		margin-left: 0.5em;
		margin-top: 5em;
	}

	#logo42 {
		width: 30%;
		padding-left: 6.5em;
		filter: invert(93%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
	}

	.btn {
		font-size: 1.1em;
		margin-left: 0.70em;
	}
}
